/* Universal */

html, body{
    margin: 0;
    padding: 0;
}

body{
    background-color: white;
    color: black;
}

nav{
    display: flex;
    grid-area: nv;
    justify-content: center;
}

.navbox{
    background-color: rgb(186, 186, 186);
    padding: 5px;
    margin: 5px;
    border-radius: 5px;
}

#indexnav.navbox{
    background-color: rgba(255, 255, 255, 0.6);
    padding: 5px;
    margin: 5px;
    border-radius: 5px;
}

a{
    width: 100px;
    font-size: 1rem;
    opacity: 200%;
    color: black;
}

footer{
    grid-area: ft;
    padding: 10px;
}

.fade-layer{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.5);
    display: none;
    z-index: 5;
}

.fade-layer.visible{
    display: block;
}

.menu{
    height: 100vh;
    width: 70vw;
    position: fixed;
    top: 0;
    background-color: rgb(255, 255, 255);
    z-index: 10;
    display: none;
}

.menu.show{
    display: block;
}

.material-icons{
    padding: 5px;
    margin: 5px;
    background-color: rgba(232, 232, 232, 0.6);
    border-radius: 10px;
}

li{

    padding: 5px;
    margin: 5px;
    background-color: rgba(190, 190, 190, 0.6);
    border-radius: 10px;
}

/* Index  */

#indexwrapper{
    height: 100vh;
    display: grid;
    grid-template-rows: 300px 40px auto 50px;
    grid-template-areas: 
    "img"
    "nv"
    "imn"
    "ft";
}
#indeximg{
    grid-area: img;
    width: 100vw;
    height: 340px;
    object-fit: cover;
}

#indexmain{
    grid-area: imn;
    text-align: center;
}

#h1welcome{
    font-family: 'Montserrat', sans-serif;
    text-transform: uppercase;
    font-size: 3rem;

}

.welcometext{
    font-size: 1rem;
}

/* Kontakter */

#contactwrapper{
    display: grid;
    height: 100vh;
    grid-template-rows: 40px 1fr 50px;
    grid-template-columns: 1fr;
    grid-template-areas: 
    "nv"
    "cmn"
    "ft"
    }

#contactmain{
    grid-area: cmn;
}


/* Historia */

#historywrapper{
    display: grid;
    height: 100vh;
    grid-template-rows: 40px auto 50px;
    grid-template-columns: 1fr 40%;
    grid-template-areas: 
    "nv nv"
    "hmn bi"
    "ft ft";
}

#historymain{
    grid-area: hmn;
    text-align: center;
}

#historymain h2{
    font-size: 2rem;
}

#historymain p{
    font-size: 1rem;
}

#historypics{
    grid-area: bi;
}

/* Tider */

#timeswrapper{
    display: grid;
    height: 100vh;
    grid-template-rows: 40px auto 50px;
    grid-template-areas: 
    "nv nv nv"
    "sec1 sec2 sec3"
    "ft ft ft";
    }

#sec1 {
    grid-area: sec1;
    text-align: center;
    border-style: solid;
}
#sec2 {
    grid-area: sec2;
    text-align: center;
    border-style: solid;
}
#sec3 {
    grid-area: sec3;
    text-align: center;
    border-style: solid;
}

.timeimg{
    height: 30%;
}

/* MOBIL */

.menu-button{
    grid-area: mnbutt;
}

@media screen and (max-width: 800px){
    

    nav{
        display: none;
    }

    #indeximg{
        height: 140px;
    }

    #indexwrapper{
        grid-template-rows: 100px 40px auto 50px;
        grid-template-areas: 
        "img"
        "mnbutt"
        "imn"
        "ft";
    }

    #contactwrapper{
    display: grid;
    height: 100vh;
    grid-template-rows: 40px 1fr 50px;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-areas: 
    "mnbutt"
    "cmn"
    "ft"
    }

    #timeswrapper{
    display: grid;
    height: 100vh;
    grid-template-rows: 40px auto auto auto 50px;
    grid-template-areas: 
    "mnbutt"
    "sec1"
    "sec2" 
    "sec3"
    "ft";
    }

    #historywrapper{
    display: grid;
    height: 100vh;
    grid-template-rows: 40px auto 50px;
    grid-template-columns: 1fr 40%;
    grid-template-areas: 
    "mnbutt mnbutt"
    "hmn bi"
    "ft ft";
    }
}



/* DESKTOP */

@media screen and (min-width: 800px){

    .menu-button{
        display: none;
    }
}