/* Universal */

html, body{
    margin: 0;
    padding: 0;
}

nav{
    display: flex;
    grid-area: nv;
    justify-content: center;
}

.navbox{
    background-color: rgb(186, 186, 186);
    padding: 5px;
    margin: 5px;
    border-radius: 5px;
}

#indexnav.navbox{
    background-color: rgba(255, 255, 255, 0.6);
    padding: 5px;
    margin: 5px;
    border-radius: 5px;
}

a{
    width: 100px;
    font-size: 1rem;
    opacity: 200%;
    color: black;
}

footer{
    grid-area: ft;
    padding: 10px;
}

/* Index  */

#indexwrapper{
    height: 100vh;
    display: grid;
    grid-template-rows: 300px 40px auto 50px;
    grid-template-areas: 
    "img"
    "nv"
    "imn"
    "ft";
}
#indeximg{
    grid-area: img;
    width: 100vw;
    height: 340px;
    object-fit: cover;
}

#indexmain{
    grid-area: imn;
    text-align: center;
}

#h1welcome{
    font-family: 'Montserrat', sans-serif;
    text-transform: uppercase;
    font-size: 3rem;

}

.welcometext{
    font-size: 1rem;
}

/* Kontakter */

#contactwrapper{
    display: grid;
    height: 100vh;
    grid-template-rows: 40px 1fr 50px;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-areas: 
    "nv nv nv"
    "sec1 sec2 sec3"
    "ft ft ft"
}
#sec1 {
    grid-area: sec1;
}
#sec2 {
    grid-area: sec2;
}
#sec3 {
    grid-area: sec3;
}

/* Historia */

#historywrapper{
    display: grid;
    height: 100vh;
    grid-template-rows: 40px auto 50px;
    grid-template-columns: 1fr 40%;
    grid-template-areas: 
    "nv nv"
    "hmn bi"
    "ft ft";
}

#historyabout{
    grid-area: hmn;
}

#historypics{
    grid-area: bi;
}

/* Tider */

#timeswrapper{
    display: grid;
    height: 100vh;
    grid-template-rows: 40px auto 50px;
    grid-template-areas: 
    "nv"
    "tmn"
    "ft";
}

#timesmain{
    grid-area: tmn;
}

/* MOBIL */

.menu-button{
    grid-area: mnbutt;
}

@media screen and (max-width: 600px){
    body{
        background-color: blue;
        color: white;
    }

    nav{
        display: none;
    }

    #indeximg{
        height: 140px;
    }

    #indexwrapper{
        grid-template-rows: 100px 40px auto 50px;
        grid-template-areas: 
        "img"
        "mnbutt"
        "imn"
        "ft";
    }
}



/* DESKTOP */

@media screen and (min-width: 600px){
    body{
        background-color: pink;
    }

    .menu-button{
        display: none;
    }
}