/* Universal */

html, body{
    margin: 0;
    padding: 0;
    background-image: url("../img/backgroundconcrete.jpg");
    background-size: 100vw;
    color: black;
    overflow-x: hidden
}

h1, h2, h3, h4{
    font-family: 'Montserrat', sans-serif;
}

h1{
    font-size: 3rem;
}

h2{
    font-size: 2rem;
}

h3{
    font-size: 1,5rem;
}

p, a{
    font-family: Birdseye, sans-serif;
    font-size: 1rem;
    font-weight: 500;
    text-decoration: none;
}

#indeximg{
    grid-area: img;
    width: 100vw;
    height: 340px;
    object-fit: cover;
    border-bottom: solid;
}

nav{
    display: flex;
    grid-area: nv;
    justify-content: center;
}

.navbox{
    display: block;
    width: 90px;
    height: 20px;
    background-color: rgba(255, 255, 255, 0.6);
    padding: 5px;
    margin: 5px;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    text-transform: uppercase;
    font-weight: bold;
}

.navbox:hover{
    background-color: rgba(169, 169, 169, 0.6);
    cursor: pointer;
}

a{
    width: 100px;
    opacity: 200%;
    color: black;
}

footer{
    grid-area: ft;
    padding: 10px;
}

/* Hamburgare meny */

.fade-layer{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.5);
    display: none;
    z-index: 5;
}

.fade-layer.visible{
    display: block;
}

.menu{
    height: 100vh;
    width: 300px;
    position: fixed;
    top: 0;
    background-color: rgb(255, 255, 255);
    z-index: 10;
    display: none;
}

.menu.show{
    display: block;
}

.material-icons{
    padding: 5px;
    margin: 5px;
    background-color: rgba(232, 232, 232, 0.6);
    border-radius: 10px;
}

.material-icons:hover{
    background-color: rgba(169, 169, 169, 0.6);
    cursor: pointer;
}

.mobilNavbox{
    display: block;
    width: 100px;
    height: 20px;
    background-color: rgb(225, 225, 225);
    padding: 5px;
    margin: 5px;
    border-radius: 5px;
    display: flex;
    text-transform: uppercase;
}

.mobilNavbox:hover{
    background-color: rgba(169, 169, 169);
}

/* Index  */

#indexwrapper{
    height: 100vh;
    display: grid;
    grid-template-rows: 300px 40px auto 50px;
    grid-template-areas: 
    "img"
    "nv"
    "imn"
    "ft";
}

#indexmain{
    grid-area: imn;
    text-align: center;
    border-top-style: solid;
}

#h1welcome{
    text-transform: uppercase;
}

/* Kontakter */

#contactwrapper{
    display: grid;
    height: 100vh;
    grid-template-rows: 300px 40px 1fr 50px;
    grid-template-columns: 1fr;
    grid-template-areas: 
    "img"
    "nv"
    "cmn"
    "ft"
}

#contactmain{
    grid-area: cmn;
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    padding: 20px;
    gap: 0;
}

#contacttitle{
    width: 100%;
    text-align: center;
}

.card {
    flex: 0 0 25%;
    width: 25%;
    box-sizing: border-box;
    padding: 20px;
    border-left: 2px solid;
    border-right: 2px solid;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.card img {
    width: 80px;
    height: 80px;
    object-fit: cover;
    border-radius: 50%;
    margin-bottom: 10px;
}

/* Historia */

#historywrapper{
    display: grid;
    height: 100vh;
    grid-template-rows: 300px 40px auto 50px;
    grid-template-columns: 1fr 40%;
    grid-template-areas: 
    "img img"
    "nv nv"
    "hmn bi"
    "ft ft";
}

#historymain{
    grid-area: hmn;
    text-align: center;
    padding-left: 20%;
    padding-right: 10%;
    display: flex;
    flex-direction: column;
    text-align: start;
    border-right: solid;
}

#historymain h2{
    text-align: center;
}

.quote{
    text-align: center;
}

#historypics{
    grid-area: bi;
    height: 40%;
}

.historyimg{
    width: 100%;
    padding-top: 2px;
}

/* Tider */

#timeswrapper{
    display: grid;
    height: 100vh;
    grid-template-rows: 300px 40px 1fr 50px;
    grid-template-columns: 1fr 25% 1fr;
    grid-template-areas: 
    "img img img"
    "nv nv nv"
    "sec1 sec2 sec3"
    "ft ft ft";
}

#sec1 {
    padding-left: 25%;
    grid-area: sec1;
    text-align: center;
    border-top: solid;
}
#sec2 {
    grid-area: sec2;
    text-align: center;
    border-right: solid;
    border-left: solid;
    border-top: solid;
}
#sec3 {
    padding-right: 25%;
    grid-area: sec3;
    text-align: center;
    border-top: solid;
}

.timeimg{
    height: 20vh;
}

/* MOBIL */

.menu-button{
    grid-area: mnbutt;
}

@media screen and (max-width: 800px){
    nav{
        display: none;
    }

    #indeximg{
        height: 140px;
    }

    #indexwrapper{
        grid-template-rows: 100px 40px auto 50px;
        grid-template-areas: 
        "img"
        "mnbutt"
        "imn"
        "ft";
    }

    h1{
        font-size: 2rem;
    }

    #contactwrapper{
        display: grid;
        height: 100vh;
        grid-template-rows: 100px 40px auto 50px;
        grid-template-columns: 1fr;
        grid-template-areas: 
        "img"
        "mnbutt"
        "cmn"
        "ft"
    }

    .card {
        flex: 1 1 200px;
        border-left: none;
        border-right: none;
        border-top: 1px solid black;
    }

    #timeswrapper{
        display: grid;
        height: 100vh;
        grid-template-rows: 100px 40px 50% 50% 50% 50px;
        grid-template-areas: 
        "img"
        "mnbutt"
        "sec1"
        "sec2" 
        "sec3"
        "ft";
    }

    #sec1,#sec3{
        padding: 0;
    }

    #sec2{
        border-right: none;
        border-left: none;
    }

    #historywrapper{
        display: grid;
        height: 100vh;
        grid-template-rows: 100px 40px auto 50px;
        grid-template-columns: 100%;
        grid-template-areas: 
        "img"
        "mnbutt"
        "hmn"
        "ft";
    }

    #historymain{
        margin: 0;
        padding: 20px;
        border-right: none;
    }
}

/* DESKTOP */

@media screen and (min-width: 800px){
    .menu-button{
        display: none;
    }
}